Source: ros-indigo-flask-restful
Section: misc
Priority: extra
Maintainer: AlexV <asmodehn@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-blinker, python-crypto, python-flask (>= 0.10.1), python-mock, python-six (>= 1.5.2), python-tz, ros-indigo-aniso8601, ros-indigo-catkin (>= 0.6.18), ros-indigo-catkin-pip (>= 0.1.15)
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-flask-restful
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-flask (>= 0.10.1), python-six (>= 1.5.2), python-tz, ros-indigo-aniso8601
Description: Simple framework for creating REST APIs http://flask-restful.readthedocs.io
